@model MosqueraAnthonny_ProyectoPropuesta1.Models.Diario

<h2>Nueva Entrada</h2>
<form asp-action="Create" method="post">
    <input type="hidden" name="usuarioId" value="@ViewBag.UsuarioId" />
    <div class="form-group">
        <label for="contenido">Contenido</label>
        <textarea id="contenido" name="contenido" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>



