@{
    ViewData["Title"] = "DD";
}

<div class="text-center">
    <h1 class="display-4"><strong>DiarioDigital</strong></h1>
    <p>“Cada pensamiento cuenta.”</a>.</p>
    <img src="https://i.pinimg.com/736x/e7/ec/c5/e7ecc558b152940795bdb99508fa5ea8.jpg" alt="DIARIO_DIGITAL" />
</div>
